html {
  font-size: 10px;
  background-color: rgba(47, 41, 41, 0.93);
    
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.notes {
  display: flex;
  flex: 1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-right: 400px;
   position: relative;
    z-index: 1;
    position: absolute;
   
    
}

.uppernotes {
   display: flex;
  flex: 1;
 min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding-right: 400px;
    position: absolute;
    top:0;
    top:-200px;
    z-index:99;
    
}

.empty {
    padding: 44px;

}

.note {
  border: .4rem solid black;
  border-radius: .5rem;
  font-size: 1rem;
    padding-right: 2.1rem;
    padding-top: 40rem;
        padding-bottom:8rem;
  transition: all .07s ease;
  width: 11rem;
  text-align: center;
   
  color: #0b0b0b;
  background: rgba(255, 238, 238, 0.97);
  text-shadow: 0 0 .5rem black;

    
  
}
.upnote {

    
  font-size: 1.5rem;
  padding: 13rem 0.1rem;
  transition: all .07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: #262323;
  text-shadow: 0 0 .5rem #c1b1b1;
  margin-top: 200px;
    margin-left: 80px;
    
  
}

.playing {
  transform: scale(1.1);
  border-color: #e5e1d3;
  box-shadow: 0 0 1rem #807d72;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ebe5cd;
}
